   html {
        width: 700px;  /* max: 800px */
        height: 600px; /* max: 600px */
      }
      
   body {
        margin: 2px;
        background: #2A7B9B;
        background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);

      }

      .frame{

        border:1mm ridge rgba(211, 220, 50, 0.6);
        box-shadow: 3px 3px 2px 1px rgba(0, 0, 255, 0.2);
      }


    .rou{

      border-radius: 30px;
    }

    .shadow{
   border: solid 2px white;
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;      /* The animation code */}
@keyframes example {
   0% {
        transform: scale(2.0);
    }
  
    50% {
        transform: scale(4.0);
    }
  
     100% {
        transform: scale(2.0);
    }
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
 text-align: center;

}
  
.animate{
color:greenyellow;
animation: example 2s infinite;
animation-timing-function: ease;

}

.nav-link{

  color: black;
}

a{

  color: black;
}

hr{

  color: white;
  border-width: 2px;
  width:50%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
}

figcaption{
background-color: antiquewhite;
  color: red;
  width:75%;
  padding: 10px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  color: white;
  text-align: center;
}

a.nav-link.active{


  background-color:  #0d6efd;
  color:white;
  text-shadow: 2px 2px black;
  
}