   html {
        width: 500px;  /* max: 800px */
        height: 600px; /* max: 600px */
      }
      
   body {
        margin: 10px;
      }

      img{

        border:1mm ridge rgba(211, 220, 50, 0.6);
        box-shadow: 3px 3px 2px 1px rgba(0, 0, 255, 0.2);
      }
