   html {
        width: 700px;  /* max: 800px */
        height: 600px; /* max: 600px */
      }
      
   body {
        margin: 2px;
      }

      .frame{

        border:1mm ridge rgba(211, 220, 50, 0.6);
        box-shadow: 3px 3px 2px 1px rgba(0, 0, 255, 0.2);
      }


    .rou{

      border-radius: 30px;
    }


    /* The animation code */
@keyframes example {
   0% {
        transform: scale(2.0);
    }
  
    50% {
        transform: scale(4.0);
    }
  
     100% {
        transform: scale(2.0);
    }
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
 text-align: center;

}
  
.animate{
color:greenyellow;
animation: example 2s infinite;
animation-timing-function: ease;

}