   html {
        width: 500px;  /* max: 800px */
        height: 600px; /* max: 600px */
      }
      
   body {
        margin: 10px;
      }

      img{

        border:1mm ridge rgba(211, 220, 50, 0.6);
      }
